*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: xx-large;
}

/* Main Box */
.box{
    border: 5px solid rgb(223, 120, 97);
    border-radius: 10px;
    background-color: rgb(236, 179, 144);
    width: 800px;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 250px;
    padding: 25px;
}

/* First Number */
.first{
    position: relative;
    left: 20px;
    color: rgb(148, 180, 159);
}

.first>input{
    border-radius: 5px;
    border: 2px solid rgb(223, 120, 97);
    text-align: right;
    position: relative;
    color: rgb(148, 180, 159);
    background-color: rgb(252, 248, 232);
    left: 10px;
}

/* Second Number */
.second{
    position: relative;
    left: 30px;
    padding-top: 45px;
    color: rgb(148, 180, 159);
}

.second>label{
    position: relative;
    left: -10px;
}

.second>input{
    color: rgb(148, 180, 159);
    margin-left: -10px;
    border-radius: 5px;
    border: 2px solid rgb(223, 120, 97);
    background-color: rgb(252, 248, 232);
}

/* Buttons */
/* Multiply Button */
.mul{
    color: rgb(148, 180, 159);
    background-color: rgb(252, 248, 232);
    border: 2px solid rgb(223, 120, 97);
    border-radius: 5px;
    position: absolute;
    top: 200px;
    left: 100px;
    cursor: pointer;
}

/* Divide Buutton */
.div{
    color: rgb(148, 180, 159);
    background-color: rgb(252, 248, 232);
    border: 2px solid rgb(223, 120, 97);
    border-radius: 5px;
    position: absolute;
    top: 200px;
    left: 550px;
    cursor: pointer;
}

/* Subtract Button */
.sub{
    color: rgb(148, 180, 159);
    background-color: rgb(252, 248, 232);
    border: 2px solid rgb(223, 120, 97);
    border-radius: 5px;
    position: absolute;
    top: 200px;
    left: 330px;
    cursor: pointer;
}

/* Add Button */
.add{
    color: rgb(148, 180, 159);
    background-color: rgb(252, 248, 232);
    border: 2px solid rgb(223, 120, 97);
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    top: 200px;
    left: 170px;
}

/* Result Paragraph */
p{
    position: absolute;
    top: 310px;
    left: 250px;
    color: rgb(148, 180, 159);
}

